.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ustom */

.input-feild {
    width: 30%;
    padding: 16px 16px 16px 50px;
    background: transparent;
    color: gainsboro;
    margin-top: 50px;
    font-size: 18px;
}

.down {
    border: solid gainsboro;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-align: center;
}

.btn-submit {
    margin-left: 10px;
    padding: 16px;
    font-size: 18px;
    animation: btn 2s linear infinite;
}

/* @keyframes btn {
    100% {
        transform: rotate(1turn);
    }
} */

.theList {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 30px 435px;
    padding-left: 0;
    /* transform: translate(70%, 50%); */
}

.theList li {
    text-transform: capitalize;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    text-overflow: hidden;
    word-wrap: break-word;
}

.theList li:nth-child(2n + 1) {
    background: rgba(211, 211, 211, 0.3);
}

.theList li input {
    margin-top: 9px;
}

.btn {
    background: no-repeat;
    border: none;
}

i {
    color: #fff;
}

.footer {
    cursor: pointer;
    /* border-top: 1px solid gainsboro; */
    width: 35%;
    list-style: none;
    margin: 30px 420px;
    display: flex;
}

.footer li {
    padding: 5px 10px;
}

.sub-footer {
    margin-left: 100px;
    list-style: none;
    display: flex;
}

.sub-footer .active {
    padding: 3px 15px;
    margin: 0 15px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.line-cheked {
    text-decoration: line-through;
    opacity: .5;
}

/* .newTask {
    text-decoration: line-through;
    opacity: .5;
} */